*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #051367;
    color: #fff;
}

.container{
    width: 97%;
    margin: auto;
    text-align: center;
}

/* Nav Bar */
nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.logo{
    cursor: pointer;
    color: #DFF6FF;
    font-size: 3rem;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu li{
    padding: 0 30px;
}

.menu li a{
    padding-bottom: 2px;
}

.menu li a:hover{
    color: #DFF6FF;
    border-bottom: 2px solid #DFF6FF;
}

/* Showcase Login */
.login-showcase{
    margin: 10px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}

.showcase img{
    height: 400px;
    width: 95%;
    border-radius: 10px;
}

/* Login Section */

.login{
    border: 3px solid black;
    border-radius: 5px;
    padding: 30px;
    font-size: 1.6rem;
    font-weight:200;
    height: 400px;
    text-align: left;
    display: block;
}

.login label{
    margin-left: 10px;
}

.login input{
    border-radius: 5px;
    margin: 15px 50px;
    width: 85%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.username-alert{
    font-size: 15px;
    color: red;
    display: none;
}

.password-alert{
    font-size: 15px;
    color: red;
    display: none;
}

.sec-link{
    cursor: pointer;
    display: inline;
    margin-left: 10px;
    color: #000;
    font-size: 20px;
    margin-bottom: 2px;
    border-bottom: 2px solid;
}

.sec-link:hover{
    color: #DFF6FF;
    border-bottom: none;
}

.login #login-btn{
    margin-top: 15px;
    margin-left: 200px;
    width: 40%;
    cursor: pointer;
    padding: 10px;
    background-color: #DFF6FF;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: #051367;
}

.login #login-btn:hover{
    color: #DFF6FF;
    background-color: #000;
}

/* Signup Section */

.signup{
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.6rem;
    font-weight:200;
    height: 400px;
    text-align: left;
    display: none;
}

.signup label{
    margin-left: 10px;
}

.signup input{
    border-radius: 5px;
    margin: 13px 10px;
    width: 55%;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: none;   
}

#fname{
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
}

#lname{
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
}

#nusername{
    width: 35%;
}

#useremail{
    width: 65%;
    margin-left: 70px;
}

#npassword{
    width: 35%;
    margin-left: 20px;
}

.email-alert{
    font-size: 15px;
    color: red;
    display: none;
}

.signup #signup-btn{
    margin-top: 20px;
    margin-left: 275px;
    width: 30%;
    border: none;
    cursor: pointer;
    background-color: #DFF6FF;
    color: #051367;
    font-weight: bold;
    font-size: 20px;
    padding: 2px;
}

.signup #signup-btn:hover{
    color: #DFF6FF;
    background-color: #000;
}

/* Site Summary */
.site-summary{
    margin: 60px 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding: 10px;
}

.login-card i{
    font-size: 90px;
    margin: 10px 5px;
    background-color: #000;
    border-radius: 100px;
    width: 150px;
    height: 120px;
    padding: 10px;
    padding-top: 15px;
    color: #DFF6FF;
}

.login-card p{
    margin-top: 5px;
    width:230px;
    margin-left: 120px;
    font-size: 20px;
}

.search-card i{
    font-size: 65px;
    color: #DFF6FF;
    background-color: #000;
    padding: 10px;
    width: 120px;
    height: 115px;
    padding-top: 25px;
    border-radius: 50px;
    margin: 10px 5px;
}

.search-card p{
    margin-top: 5px;
    font-size: 20px;
    width: 200px;
    margin-left: 135px;
}


.watch-card i{
    font-size: 65px;
    color: #DFF6FF;
    background-color: #000;
    padding: 10px;
    width: 130px;
    height: 100px;
    border-radius: 50px;
    padding-top: 15px;
    margin: 10px 5px;
}

.watch-card p{
    font-size: 30px;
    margin-top: 5px;
    margin-left: 10px;
}